
<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">

            <button [disabled]="true" class="btn btn-primary mt-2">
                Add Product
            </button>
        </div>
    </div>
</div>

<p>passenger works!</p>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="email">Email</label>
            <input (keyup)="Onemail($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="Password">Password</label>
            <input (keyup)="OnPassword($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="conformPassword">conformPassword</label>
            <input (keyup)="OnconformPassword($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger1">passenger1</label>
            <input (keyup)="Onpassenger1($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger2">passenger2</label>
            <input (keyup)="Onpassenger2($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger3">passenger3</label>
            <input (keyup)="Onpassenger3($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger4">passenger4</label>
            <input (keyup)="Onpassenger4($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger5">passenger5</label>
            <input (keyup)="Onpassenger5($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger6">passenger6</label>
            <input (keyup)="Onpassenger6($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger7">passenger7</label>
            <input (keyup)="Onpassenger7($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger8">passenger8</label>
            <input (keyup)="Onpassenger8($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger9">passenger9</label>
            <input (keyup)="Onpassenger9($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger10">passenger10</label>
            <input (keyup)="Onpassenger10($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger11">passenger11</label>
            <input (keyup)="Onpassenger11($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger12">passenger12</label>
            <input (keyup)="Onpassenger12($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="form-group">
            <label for="passenger13">passenger13</label>
            <input (keyup)="Onpassenger13($event)" type="text" class="form-control">
        </div>
    </div>
</div>

<div class="form-group">
    <label for="">Password</label>
    <input type="text" class="form-control" #password>
</div>

<button class="btn btn-primary" (click)="OnPasswords(password)">password</button>

